In [2]:
import sklearn

In [11]:
from sklearn.linear_model import LinearRegression

In [13]:
import pandas as pd

In [17]:
df = pd.read_csv('Student_Marks.csv')

In [19]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [21]:
df.tail()

    number_courses  time_study   Marks
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [25]:
y = df[['Marks']]

In [27]:
x = df[['number_courses','time_study']]

In [29]:
#sckitlearn.LinearRegression()
l = LinearRegression()

In [31]:
model = l.fit(x,y)

In [33]:
model.predict([[90,10]])

C:\Users\emre_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[214.30000851]])

In [35]:
model.predict([[5,10]])

C:\Users\emre_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[55.85569536]])

In [37]:
model.predict([[12,10]])

C:\Users\emre_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[68.90405056]])

In [39]:
df['Marks'].max()

55.299

In [41]:
model.score(x,y)

0.9403656320238896