In [1]:
import pandas as pd

In [70]:
from sklearn.linear_model import LinearRegression

In [72]:
from sklearn.model_selection import train_test_split

In [9]:
df = pd.read_csv('Audi_A1_listings.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             471 non-null    int64
 1   Year              471 non-null    float64
 2   Type              471 non-null    object
 3   Mileage(miles)    471 non-null    float64
 4   Engine            471 non-null    object
 5   PS                471 non-null    float64
 6   Transmission      471 non-null    object
 7   Fuel              471 non-null    object
 8   Number_of_Owners  471 non-null    int64
 9   Price(£)          471 non-null    float64
 10  href              471 non-null    object
 11  PPY               471 non-null    float64
 12  MileageRank       471 non-null    int64
 13  PriceRank         471 non-null    int64
 14  PPYRank           471 non-null    int64
 15  Score             471 non-null    int64
dtypes: float64(5), int64(6), object(5)
memory usage: 59.0+ KB

In [15]:
df.head()

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642
3,11,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0,https://www.autotrader.co.uk/car-details/20221...,3745.000000,41,449,83,573
4,12,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0,https://www.autotrader.co.uk/car-details/20220...,3700.000000,12,452,85,549

In [17]:
df=df[['Year','Type','Mileage(miles)','Engine','PS','Transmission','Fuel','Number_of_Owners','Price(£)']]

In [19]:
df.head()

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0
3,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0
4,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0

In [21]:
df.columns=['yil','kasa','mil','motor','ps','vites','yakit','sahip','fiyat']

In [23]:
df.head()

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0
3,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0
4,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0

In [31]:
df['motor'] = df['motor'].str.replace('L','')

In [33]:
df['motor'] = pd.to_numeric(df['motor'])

In [43]:
df= pd.get_dummies(df,columns=['kasa','vites','yakit'],drop_first=True)

In [49]:
df.head()

,yil,mil,motor,ps,sahip,fiyat,vites_Manual,yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,True,False
1,2016.0,42596.0,1.0,93.688363,3,10755.0,True,True
2,2015.0,42700.0,1.4,123.274162,2,10799.0,True,True
3,2014.0,86000.0,1.6,103.550296,3,7490.0,True,False
4,2014.0,104310.0,1.6,103.550296,3,7400.0,True,False

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   yil           471 non-null    float64
 1   mil           471 non-null    float64
 2   motor         471 non-null    float64
 3   ps            471 non-null    float64
 4   sahip         471 non-null    int64
 5   fiyat         471 non-null    float64
 6   vites_Manual  471 non-null    bool
 7   yakit_Petrol  471 non-null    bool
dtypes: bool(2), float64(5), int64(1)
memory usage: 23.1 KB

In [53]:
y=df[['fiyat']]

In [55]:
x=df.drop('fiyat',axis=1)

In [ ]:
#train test split olmadan

In [57]:
#lm=LinearRegression()

In [60]:
#model = lm.fit(x,y)

In [74]:
#model.score(x,y)

0.9110559159967577

In [76]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.70,random_state=31)

In [78]:
lm=LinearRegression()

In [80]:
model = lm.fit(x_train,y_train)

In [82]:
model.score(x_test,y_test)

0.9144614323602953

In [90]:
model.predict([[2016,30000,1.0,90,5,0,1]])

C:\Users\emre_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13667.46067583]])