In [1]:
#min square error mse

In [3]:
#kok lu hali rmse

In [5]:
#min abstract error  mae

In [7]:
#mape mutlak deger yuzdesi mape

In [13]:
import pandas as pd

In [15]:
import numpy as np

In [21]:
from sklearn.linear_model import LinearRegression

In [25]:
df = pd.read_csv('insurance.csv')

In [27]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [35]:
df = pd.get_dummies(df,columns = ['sex','smoker','region'],drop_first=True)

In [37]:
df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,True
1,18,33.770,1,1725.55230,True,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,True,False
3,33,22.705,0,21984.47061,True,False,True,False,False
4,32,28.880,0,3866.85520,True,False,True,False,False

In [39]:
y = df[['charges']]

In [41]:
x = df.drop('charges',axis=1)

In [43]:
lm = LinearRegression()

In [45]:
model = lm.fit(x,y)

In [47]:
model.score(x,y)

0.7509130345985207

In [49]:
model.predict([[19,26,0,1,1,0,0,1]])

C:\Users\emre_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[24517.93110714]])

In [51]:
df_hata = pd.DataFrame()

In [53]:
df_hata['y'] = y

In [55]:
df_hata

                y
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [59]:
y_tahmin = model.predict(x)

In [61]:
df_hata['tahmin'] = y_tahmin

In [63]:
df_hata

                y        tahmin
0     16884.92400  25293.713028
1      1725.55230   3448.602834
2      4449.46200   6706.988491
3     21984.47061   3754.830163
4      3866.85520   5592.493386
...           ...           ...
1333  10600.54830  12351.323686
1334   2205.98080   3511.930809
1335   1629.83350   4149.132486
1336   2007.94500   1246.584939
1337  29141.36030  37085.623268

[1338 rows x 2 columns]

In [65]:
df_hata['error'] = y-y_tahmin

In [67]:
df_hata

                y        tahmin         error
0     16884.92400  25293.713028  -8408.789028
1      1725.55230   3448.602834  -1723.050534
2      4449.46200   6706.988491  -2257.526491
3     21984.47061   3754.830163  18229.640447
4      3866.85520   5592.493386  -1725.638186
...           ...           ...           ...
1333  10600.54830  12351.323686  -1750.775386
1334   2205.98080   3511.930809  -1305.950009
1335   1629.83350   4149.132486  -2519.298986
1336   2007.94500   1246.584939    761.360061
1337  29141.36030  37085.623268  -7944.262968

[1338 rows x 3 columns]

In [69]:
#mse

In [71]:
df_hata['squared_error'] = df_hata['error']**2

In [73]:
df_hata

                y        tahmin         error  squared_error
0     16884.92400  25293.713028  -8408.789028   7.070773e+07
1      1725.55230   3448.602834  -1723.050534   2.968903e+06
2      4449.46200   6706.988491  -2257.526491   5.096426e+06
3     21984.47061   3754.830163  18229.640447   3.323198e+08
4      3866.85520   5592.493386  -1725.638186   2.977827e+06
...           ...           ...           ...            ...
1333  10600.54830  12351.323686  -1750.775386   3.065214e+06
1334   2205.98080   3511.930809  -1305.950009   1.705505e+06
1335   1629.83350   4149.132486  -2519.298986   6.346867e+06
1336   2007.94500   1246.584939    761.360061   5.796691e+05
1337  29141.36030  37085.623268  -7944.262968   6.311131e+07

[1338 rows x 4 columns]

In [75]:
df_hata['abs_error'] = np.abs(df_hata['error'])

In [77]:
df_hata

                y        tahmin         error  squared_error     abs_error
0     16884.92400  25293.713028  -8408.789028   7.070773e+07   8408.789028
1      1725.55230   3448.602834  -1723.050534   2.968903e+06   1723.050534
2      4449.46200   6706.988491  -2257.526491   5.096426e+06   2257.526491
3     21984.47061   3754.830163  18229.640447   3.323198e+08  18229.640447
4      3866.85520   5592.493386  -1725.638186   2.977827e+06   1725.638186
...           ...           ...           ...            ...           ...
1333  10600.54830  12351.323686  -1750.775386   3.065214e+06   1750.775386
1334   2205.98080   3511.930809  -1305.950009   1.705505e+06   1305.950009
1335   1629.83350   4149.132486  -2519.298986   6.346867e+06   2519.298986
1336   2007.94500   1246.584939    761.360061   5.796691e+05    761.360061
1337  29141.36030  37085.623268  -7944.262968   6.311131e+07   7944.262968

[1338 rows x 5 columns]

In [93]:
df_hata['percent_error'] =np.abs(( y-y_tahmin ) / y ) #mape

In [89]:
df_hata

,y,tahmin,error,squared_error,abs_error,percent_error
0,16884.92400,25293.713028,-8408.789028,7.070773e+07,8408.789028,0.498006
1,1725.55230,3448.602834,-1723.050534,2.968903e+06,1723.050534,0.998550
2,4449.46200,6706.988491,-2257.526491,5.096426e+06,2257.526491,0.507371
3,21984.47061,3754.830163,18229.640447,3.323198e+08,18229.640447,0.829205
4,3866.85520,5592.493386,-1725.638186,2.977827e+06,1725.638186,0.446264
...,...,...,...,...,...,...
1333,10600.54830,12351.323686,-1750.775386,3.065214e+06,1750.775386,0.165159
1334,2205.98080,3511.930809,-1305.950009,1.705505e+06,1305.950009,0.592004
1335,1629.83350,4149.132486,-2519.298986,6.346867e+06,2519.298986,1.545740
1336,2007.94500,1246.584939,761.360061,5.796691e+05,761.360061,0.379174
1337,29141.36030,37085.623268,-7944.262968,6.311131e+07,7944.262968,0.272611

In [91]:
df_hata.mean()

y                1.327042e+04
tahmin           1.327042e+04
error           -1.598753e-12
squared_error    3.650189e+07
abs_error        4.170887e+03
percent_error    4.203527e-01
dtype: float64

In [97]:
from sklearn.metrics import mean_squared_error , mean_absolute_error , mean_absolute_percentage_error

In [101]:
mean_squared_error(y,y_tahmin)

36501893.00741544

In [105]:
mean_absolute_error(y,y_tahmin)

4170.8868941635865

In [107]:
mean_absolute_percentage_error(y,y_tahmin)

0.4203526847372706