In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [3]:
df = pd.read_csv('Student_Marks.csv')

In [7]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [11]:
df.columns

Index(['number_courses', 'time_study', 'Marks'], dtype='object')

In [13]:
df.columns=['sinif','saat','puan']

In [15]:
df.head()

   sinif   saat    puan
0      3  4.508  19.202
1      4  0.096   7.734
2      4  3.133  13.811
3      6  7.909  53.018
4      8  7.811  55.299

In [17]:
y=df[['puan']]
x=df[['sinif','saat']]

In [19]:
lm=LinearRegression()

In [21]:
model = lm.fit(x,y)

In [23]:
#y=ax+b

In [25]:
model.coef_ #katsayi

array([[1.86405074, 5.39917879]])

In [27]:
model.intercept_ #sabit

array([-7.45634623])

In [29]:
model.predict([[4,5]])

C:\Users\emre_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[26.99575068]])

In [31]:
df.head(3)

   sinif   saat    puan
0      3  4.508  19.202
1      4  0.096   7.734
2      4  3.133  13.811

In [33]:
s1 = model.predict([[3,4.508]])
print(s1)

[[22.47530397]]

C:\Users\emre_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [35]:
(19.202 - s1)/19.202

array([[-0.17046682]])

In [37]:
model.score(x,y)

0.9403656320238896